<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>Register</h1>
    <form action="" method="post">
        <input type="text" placeholder="Name"><br><br>
        <input type="age" placeholder="Age"><br><br>
        <input type="text" placeholder="Place" name="place" value="place"><br><br>
        <input type="number" placeholder="Mobile"><br><br>
        <input type="email" placeholder="Email" name="email" value="email"><br><br>
        <textarea placeholder="address"></textarea><br><br>   
        <select name="course">
            <option>Select course</option>
            <option>Python fullstack</option>
            <option>java fullstack</option>
            <option>web development</option>
            <option>cloud computing</option>
            <option>mern stack</option>
            <option>.net development</option>
        </select><br><br>
        <button type="submit"> register</button>
    </form>
</body>
</html>
